backend #{NAME}
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    reqrep ^([^\ :]*)\ /#{NAME}/(.*)     \1\ /\2
#{SERVER}